<div id="index">
    <h1>This is a sample application</h1>
    <h1>This is a sample application</h1>
    <p>The goal of this project is to reduce writing boilerplate code in the future hopefully</p>
</div>